<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vegetable Shop - Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container text-center">
        <h1 class="header-title mb-5">Welcome to The Fresh Vegetable Shop</h1>
        <div class="row">
            <!-- Product 1 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ url_for('static', filename='pic/carrot.jpeg') }}" class="card-img-top" alt="Fresh Carrots">
                    <div class="card-body">
                        <h5 class="card-title">Fresh Carrots</h5>
                        <p class="product-price">$2.5 / kg</p>
                    </div>
                </div>
            </div>
            <!-- Product 2 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ url_for('static', filename='pic/broccoli.jpeg') }}" class="card-img-top" alt="Organic Tomatoes">
                    <div class="card-body">
                        <h5 class="card-title">Organic Broccoli</h5>
                        <p class="product-price">$3.0 / each</p>
                    </div>
                </div>
            </div>
            <!-- Product 3 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ url_for('static', filename='pic/avocado.jpeg') }}" class="card-img-top" alt="Green Bell Peppers">
                    <div class="card-body">
                        <h5 class="card-title">Fresh Avocado</h5>
                        <p class="product-price">$3.0 / each</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg">Login</a>
        </div>
    </div>
</body>
</html>
